<div class="container">
  <!-- get personal access tokens -->
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="setPersonalAccessToken()"
    *ngIf="!personalAccessToken"
  >
    <mat-form-field class="search-form-field" appearance="fill">
      <mat-label>Personal access token</mat-label>
      <input
        type="text"
        matInput
        placeholder="Paste here..."
        formControlName="accessToken"
      />
    </mat-form-field>

    <button
      [disabled]="!form.value.accessToken.trim()"
      (click)="setPersonalAccessToken()"
      type="button"
      mat-raised-button
      color="primary"
    >
      Set token
    </button>
  </form>

  <!-- search form -->
  <form
    class="form"
    [formGroup]="form"
    *ngIf="personalAccessToken"
    (submit)="onSubmit()"
  >
    <mat-form-field class="search-form-field" appearance="fill">
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        placeholder="Start typing repository name..."
        formControlName="repoName"
      />
    </mat-form-field>

    <button
      [disabled]="!form.value.repoName.trim() || loading"
      (click)="onSubmit()"
      type="button"
      mat-raised-button
      color="primary"
    >
      Search
    </button>
  </form>

  <!-- spinner -->
  <app-spinner *ngIf="loading"></app-spinner>

  <div *ngFor="let repo of repos | async">
    <app-item [repo]="repo"></app-item>
  </div>

  <div class="error-message" *ngIf="!!error">
    <p>{{ error }}</p>
  </div>
</div>
