.card {
  margin: 16px 0;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__repo-name {
  word-break: break-all;
}

.card__avatar {
  width: 50px;
  border-radius: 50%;
}

.card__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.card__author-info > h5 {
  text-align: center;
}

.card__author-info > h5 > strong {
  word-break: break-all;
}

.card__description {
  margin: 16px 0;
}

.card__date {
  margin-top: 8px;
}
