.search-form-field {
  width: 100%;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  margin: 16px 0;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__avatar {
  width: 50px;
  border-radius: 50%;
}

.card__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__author-info > h5 {
  text-align: center;
}

.card__description {
  margin: 16px 0;
}

.card__date {
  margin-top: 8px;
}
