<div class="container">
  <!-- get public access token -->
  <form
    class="form"
    (submit)="setPublicAccessToken()"
    *ngIf="!publicAccessToken"
  >
    <mat-form-field class="search-form-field" appearance="fill">
      <mat-label>Public access token</mat-label>
      <input
        type="text"
        matInput
        placeholder="Paste here..."
        [formControl]="accessToken"
      />
    </mat-form-field>

    <button
      [disabled]="!accessToken.value.trim()"
      (click)="setPublicAccessToken()"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Set token
    </button>
  </form>

  <!-- search form -->
  <form class="form" *ngIf="publicAccessToken" (submit)="onSubmit()">
    <mat-form-field class="search-form-field" appearance="fill">
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        placeholder="Start typing repository name..."
        [formControl]="repoName"
      />
    </mat-form-field>

    <button
      [disabled]="!repoName.value.trim() || loading"
      (click)="onSubmit()"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Search
    </button>
  </form>

  <!-- spinner -->
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

  <div *ngFor="let repo of repos | async">
    <app-item [repo]="repo"></app-item>
  </div>

  <div class="error-message" *ngIf="!!error">
    <p>{{ error }}</p>
  </div>
</div>
